.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 25px;
  margin-top: 50px;
  .contact-products {
    // border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    img {
      width: 306px;
      height: 250px;
      transition: 0.5s;
      filter: brightness(0);
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      &:hover {
        filter: brightness(1);
        transform: translateZ();
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
      font-family: Poppins;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 11px 70px 0px rgba(0, 0, 0, 0.3);
      transform: scale(1.07);
    }
  }
}
